.textArea {
    display: flex;
    flex-direction: column;
    font-size: 0.75rem;
    font-weight: 500;
    color: var(--secondaryTextColor);

    textarea {
        border: 1px solid var(--inputColor);
        border-radius: 0.75rem;
        width: 100%;
        padding: 1rem;
        resize: none;

        &::placeholder {
            color: var(--inputColor);
        }
    }
}