.slider {
    display: flex;
    overflow-x: auto;

    gap: 1.5em;
    margin-bottom: 2em;

    &::-webkit-scrollbar {
        display: none;
    }

    :global {
        animation: fadeIn 0.25s ease-in-out;
    }
}