@import "../../css/mixins";

.stories {
    position: relative;

    @include desktop {
        margin: 0 -4rem 2rem -4rem;
    }

    @include mobileAndTablet {
        margin-bottom: 2rem;
    }

    .scroll {
        display: flex;
        overflow-x: auto;
        gap: 1.5rem;
        padding: 0 4rem 0.5rem 4rem;
    }

    &::before {
        content: "";
        position: absolute;
        left: -0.1rem;
        top: 0;
        bottom: 0;
        width: 4rem;
        background: linear-gradient(90deg, var(--pageBackgroundColor) 25%, rgba(255, 255, 255, 0) 100%);
        z-index: 10;
    }

    &::after {
        content: "";
        position: absolute;
        right: -0.1rem;
        top: 0;
        bottom: 0;
        width: 4rem;
        background: linear-gradient(-90deg, var(--pageBackgroundColor) 25%, rgba(255, 255, 255, 0) 100%);
        z-index: 10;
    }

    :global {
        animation: fadeIn 0.25s ease-in-out;
    }
}
