.home {
    display: flex;
    flex-direction: column;
    align-items: center;

    .content {
        display: flex;
        width: 100%;
        justify-content: center;

        .left {
            display: flex;
            flex-direction: column;
            overflow-x: hidden;
            max-width: 560px;
        }

        .right {
            display: flex;
            flex-direction: column;
            margin-left: 4.5em;
            align-items: center;
        }
    }
}