.login {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    .content {
        display: flex;
        flex-grow: 1;
        justify-content: center;
        align-items: center;
        gap: 4rem;

        .presentation {
            font-size: 2rem;
        }

        .authPane {
            display: flex;
            flex-direction: column;

            .title {
                font-size: 3rem;
                font-weight: 700;
                margin-bottom: 3rem;
            }

            .input {
                margin-bottom: 1rem;
                min-width: 360px;
            }

            button {
                margin: 1rem 0;
            }

            .switch {
                color: var(--secondaryTextColor);
                font-size: 0.75rem;
                align-self: center;

                .inlineSwitch {
                    color: var(--blue);
                    cursor: pointer;
                    margin-left: 1em;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}