.feed {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    min-width: 300px;
    max-width: 560px;

    .text {
        text-align: center;
        font-weight: 700;
    }
}