.photoFeed {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2px;

    .square {
        position: relative;
        padding-bottom : 100%;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        cursor: pointer;

        :global {
            animation: fadeIn 0.25s ease-in-out;
        }
    }
}