@import "../../../css/mixins";

.profileInfo {
    display: flex;
    flex-direction: column;
    align-items: center;

    :global {
        animation: fadeIn 0.25s ease-in-out;
    }

    .top {
        display: flex;
        align-items: center;
        gap: 1.5rem;
        margin-bottom: 1.5rem;
        width: 100%;
        justify-content: space-around;
    }

    .followers,
    .following {
        display: flex;
        flex-direction: column;
        align-items: center;
        .number {
            font-weight: 600;
        }
        .smallText {
            color: var(--secondaryTextColorB);
            font-weight: 500;
        }
    }

    .bottom {
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 100%;
        .info {
            font-weight: 500;
        }

        .description {
            font-size: 0.75rem;
            color: var(--secondaryTextColor);
        }

        .actionButtons {
            display: flex;
            gap: 0.75rem;
            margin-top: 1rem;

            @include desktop {
                justify-content: center;
            }

            @include mobileAndTablet {
                button {
                    flex: 1;
                }
            }
        }
    }
}

.horizontal {
    flex-direction: row;

    .info {
        display: flex;
        flex-direction: column;
        margin-left: 2rem;

        .name {
            font-size: 1.5rem;
            font-weight: 500;
        }

        .job {
            line-height: 1.25rem;
            margin-top: 0.5rem;
        }

        .description {
            margin-top: 1.25rem;
            font-size: 0.75rem;
            font-weight: 500;
            color: var(--secondaryTextColor);
        }
    }

    .separator {
        flex-grow: 1;
    }

    .right {
        display: flex;
        flex-direction: column;

        .social {
            display: flex;
            min-width: 150px;
            .followers,
            .following {
                align-items: flex-end;
                flex: 1;
            }
        }

        .actionButtons {
            display: flex;
            gap: 1.25rem;
            margin-top: 1.5rem;
        }
    }
}
