.post {
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;
    width: 100%;

    :global {
        animation: fadeIn 0.25s ease-in-out;
    }

    .header {
        display: flex;
        margin-bottom: 1em;

        .info {
            display: flex;
            flex-direction: column;
            justify-content: center;
            flex-grow: 1;
            margin-left: 1em;

            .name {
                font-weight: bold;
                line-height: 1.25em;
            }

            .time {
                line-height: 1.25em;
                font-size: 0.75em;
                color: var(--secondaryTextColor);
            }
        }

        .more {
            color: var(--secondaryTextColor);
            cursor: pointer;
        }
    }

    .content {
        display: flex;
        flex-direction: column;

        .sliderOverlay {
            position: relative;

            .shared {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 1rem;
                left: 0;
                z-index: 100;
                background-color: var(--backdropColor);
                border-radius: 3rem;

                :global {
                    animation: fadeIn 0.2s ease-in-out;
                }

                span {
                    font-size: 1.5rem;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    color: var(--invertedTextColor);

                    white-space: nowrap;
                }
            }
        }

        .slider {
            margin-bottom: 1rem;
        }

        .description {
            color: var(--secondaryTextColor);

            &.short {
                display: -webkit-box;

                max-height: 4.5rem;

                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }

    .footer {
        display: flex;
        margin-top: 1em;
        .iconButton {
            margin-right: 2em;
        }

        .separator {
            flex-grow: 1;
        }

        .share {
            &,
            i {
                font-weight: 600;
            }
            cursor: pointer;
        }
    }
}

.danger > div {
    color: var(--dangerColor);
}
