.header {
    display: flex;
    position: fixed;
    height: 88px;
    width: 100%;
    padding: 1.5em 4em;
    align-items: center;
    gap: 1em;
    background-color: var(--backgroundColor);
    z-index: 999;

    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.05);

    .logo {
        font-style: italic;
        font-weight: 800;
    }

    .separator {
        flex-grow: 1;
    }

    .button {
        font-size: 0.75em;
        position: relative;
        
        .dropdown {
            display: flex;
            flex-direction: column;
            background-color: var(--backgroundColor);
            position: absolute;
            top: 62px;
            left: 50%;
            transform: translate(-50%, 0%);
            z-index: -1;

            box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.05);
            border-radius: 0px 0px 12px 12px;

            &.hidden {
                opacity: 0;
                pointer-events: none;
            }

            .dropdownItem {
                padding: 0.75rem 1.5rem;
                cursor: pointer;
            }
        }
    }
}

.reserver {
    height: calc(88px + 48px); // header height + margin
}