@import "./fonts.scss";
@import "./reset.scss";

html {
    // colors
    --black: #010101;
    --white: #FFFFFF;
    --grey: #C9CAD1;
    --red: #FB766E;
    --lightGrey: #FAFBFC;
    --blue: #0087FF;
    --darkGrey: #808080;

    // element variables
    --primaryTextColor: var(--black);
    --secondaryTextColor: var(--darkGrey);
    --secondaryTextColorB: var(--grey);
    --invertedTextColor: var(--white);
    --accentColor: var(--blue);
    --accentSecondaryColor: #74EDF2;

    --successColor: #00f543;
    --dangerColor: #ff5d5c;

    --likeColor: var(--red);
    --iconColor: var(--grey);

    --backgroundColor: var(--white);
    --pageBackgroundColor: var(--lightGrey);

    --inputColor: var(--grey);
    --backdropColor: rgba(1,1,1,0.4);
    --fileInputBackground: var(--grey);
    --hrColor: var(--grey);
    --scrollbarColor: var(--darkGrey);

    @media (prefers-color-scheme: dark) {
        // dark mode?
    }
}

html, body {
    height: 100%;
}

#app {
    min-height: 100%;
    background-color: var(--pageBackgroundColor);
    color: var(--primaryTextColor);
}

img[src=""],
img:not([src]) {
    content: url("data:image/gif;base64,R0lGODlhAQABAPAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==");
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    border-radius: 5px;
}

::-webkit-scrollbar-track {
    background: transparent;
    border: solid 3px transparent;
}

::-webkit-scrollbar-thumb {
    background: var(--scrollbarColor);
    border: solid 3px transparent;
    border-radius: 5px;
    min-height: 50px;
    height: 50px;
    max-height: 50px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--scrollbarColor);
}

* {
    scrollbar-color: rgba(var(--scrollbarColor), .3) transparent;
    scrollbar-width: thin;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
