.footer {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    font-weight: 400;
    .buttonRow {
        display: flex;
        gap: 0.25rem;
        justify-content: center;
        .greyButton {
            color: var(--secondaryTextColorB);
            font-size: 0.75rem;
        }
    }
}